:root {
  --ff-serif: "Livvic", sans-serif;

  /* small screen font-sizes */
  --fs-100: 0.8125rem; /* 13px */
  --fs-200: 0.9375rem; /* 15px */
  --fs-300: 1.125rem; /* 18px */
  --fs-400: 2rem; /* 32px */
  --fs-900: 2.5rem; /* 40px */

  --fw-600: 600;
  --fw-700: 700;

  --clr-neutral-100: #fff;

  --clr-primary-100: #014e56;
  --clr-primary-200: #f67e7e;

  --clr-secondary-100: #79c8c7;
  --clr-secondary-200: #2c6269;
  --clr-secondary-300: #004047;
  --clr-secondary-400: #012f34;
  --clr-secondary-500: #002529;

  --br: 0.06rem;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
  font-family: var(--ff-serif);
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--br);
}

body {
  line-height: 1.5;
  font-family: var(--ff-serif);
  font-size: var(--fs-200);
  background-color: var(--clr-primary-100);
  color: var(--clr-neutral-100);
}

/* Typography */

.main__title {
  font-size: var(--fs-900);
}

.section__title {
  color: var(--font-accent, var(--clr-neutral-100));
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

.text-accent {
  color: var(--accent, var(--clr-primary-200));
}

.text-100 {
  color: var(--clr-secondary-100);
}

a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

/* Utility Class */
.container {
  width: 327px;
  max-width: 1110px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flow-content > * + * {
  margin-top: 0.5rem;
}

.split {
  display: flex;
  flex-direction: var(--flex-d, column);
  justify-content: var(--just-c, center);
}

/* --- Component------------------------------ */
/* Navigation */

.nav {
  padding-top: 3rem;
}

.nav__logo {
  width: 128px;
  height: auto;
}

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 255px;
  height: 100vh;
  background-color: var(--clr-secondary-200);
  background-image: url(/starter-code/images/bg-pattern-about-1-mobile-nav-1.svg);
  background-position: center right -100px;
  background-repeat: no-repeat;
  transform: translate(-100vw);
}

/* Header */
.header {
  background-image: url(/starter-code/images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 5rem;
  padding-bottom: 12.5rem;
}

/* Footer */
.footer {
  background-color: var(--clr-secondary-500);
  padding: 4.375rem 0;
}

.footer__logo {
  width: 96px;
}

.footer__nav > * + * {
  margin-left: 1rem;
}

.footer__social,
.footer__nav {
  --flex-d: row;
  align-items: center;
}

.footer__social > * + * {
  margin-left: 1rem;
}

/* Button */
.btn {
  display: inline-block;
  border: 2px var(--clr-neutral-100) solid;
  color: var(--fg-color, var(--clr-neutral-100));
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  margin-top: 1.5rem;
}

/* Call to action */
.cta {
  background-color: var(--clr-primary-200);
  --font-accent: var(--clr-secondary-400);
  padding: 5.1875rem 0;
  background-image: url(./images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom -20px left;
}

/* General Layout*/
/* Features */
.features {
  padding: 5rem 0;
  background-color: var(--bg-dark, var(--clr-secondary-400));
  background-image: url(./images/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: top right -100px;
}

.features .section__title {
  width: 240px;
}

.features__content {
  margin-top: 5rem;
}
.features__content > * + * {
  margin-top: 3rem;
}

/* Testimonials */
.testimonials {
  padding: 8.75rem 0;
  background-image: url(./images/bg-pattern-home-5.svg),
    url(./images/bg-pattern-home-4-about-3.svg);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.testimonial {
  margin-top: 3rem;
}

.testimonial > * + * {
  margin-top: 3rem;
}
.testimonial .blockquote {
  width: 100%;
  margin: 0 auto;
}

.testimonials img {
  width: 62px;
  border-radius: 100%;
  border: solid;
}

@media (min-width: 1024px) {
  .features .split {
    justify-content: space-between;
    border: solid;
    --flex-d: row;
  }
}
